.app-form {
  padding: 25px;
  background-color: white;
  border-radius: 18px;
  width: 80%;
  animation: fade-up 0.5s ease-in-out 100ms 1;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    margin-bottom: -50px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}
.app-form .form-heading {
  margin-bottom: 1em;
}
.form-heading h4 {
  color: var(--dark);
}
.form-heading p {
  font-size: 14px;
  color: var(--gray);
}
.app-form button,
.form-control {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.app-form .form-btn:hover {
  /* background-color: #bd5401; */
  color: #ffffff;
}
.app-form .form-btn:hover .background-animate {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.app-form .form-btn .background-animate {
  background-color: var(--primary-color);
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.app-form .form-btn .btn-title {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 10;
}
.app-form .form-btn {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.app-form .form-control {
  background-color: #f3f3f3;
  margin-bottom: 1em;
  text-indent: 1em;
}

.form-control.is-error {
  border: var(--danger) solid 1px;
  box-shadow: var(--danger) 0px 0px 8px;
}

@media screen and (min-width: 768px) {
  .app-form {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .app-form {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .app-form {
    width: 25%;
  }
}
@media screen and (min-width: 1500px) {
  .app-form {
    width: 18%;
  }
}

/* app header */
.auth-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth-header h3 {
  color: #ffffff;
  padding: 20px;
  font-weight: 600;
}

.app-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-links ul {
  list-style: none;
  display: flex;
  column-gap: 15px;
  padding: 16px;
}

.app-links ul .link .bar {
  height: 2px;
  width: 0;
  background: #d2d2d2;
  transition: all 0.2s ease-in-out;
  align-self: center;
}
.app-links ul .link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-links ul .link a {
  cursor: pointer;
  text-decoration: none;
  color: #d2d2d2;
  font-size: 1em;
  font-weight: 600;
}
.app-links ul .link.active .bar {
  width: 100% !important;
}
.app-links ul .link:hover .bar {
  width: 100%;
}
.forgot-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 0 6px;
}
.forgot-password a {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1em;
  font-weight: 500;
}
