{% extends 'base.html' %} {% block head %}
<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="auth-header">
    <div>
      <h3>Python Admin Panel</h3>
    </div>

    <div class="app-links">
      <ul>
        <li class="link active">
          <a href="/login">Login</a>
          <div class="bar"></div>
        </li>
        <li class="link">
          <a href="/register">Register</a>
          <div class="bar"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="app-form">
    <div class="form-heading">
      <h4>Forgot Password</h4>
      <p>
        Let us know your email address we'll send a link to reset your password.
      </p>
    </div>
    <form action="" method="post" onsubmit="return false">
      <input required type="email" placeholder="Email Address" class="form-control" />
      <button class="form-btn">
        <div class="background-animate"></div>
        <div class="btn-title">Submit</div>
      </button>
    </form>
  </div>
  <div></div>
</div>
{% endblock %}
