{% extends 'base.html' %} {% block head %}
<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="auth-header">
    <div>
      <h3>Python Admin Panel</h3>
    </div>

    <div class="app-links">
      <ul>
        <li class="link">
          <a href="/login">Login</a>
          <div class="bar"></div>
        </li>
        <li class="link active">
          <a href="/register">Register</a>
          <div class="bar"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="app-form">
    <div class="form-heading">
      <h4>Admin Panel</h4>
      <p>Request for admin access</p>
    </div>

    <form action="/register" method="post">
      <input type="text" name="firstname" placeholder="First Name" class="form-control" />
      <input type="text" name="lastname" class="form-control" placeholder="Last Name" />
      <input type="email" name="email" placeholder="Email Address" class="form-control" />
      <input type="text" name="username" class="form-control" placeholder="User Id" />
      <input type="password" name="password" placeholder="Password" class="form-control" />
      {{error_message}}
      <input
        type="password"
        name="confirm_password"
        class="form-control"
        placeholder="Confirm Password"
      />

      <button class="form-btn">
        <div class="background-animate"></div>
        <div class="btn-title">Request</div>
      </button>
    </form>
  </div>
  <div></div>
</div>
{% endblock %}
