{% extends 'base.html' %} {% block head %}
<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .app-form .help-tooltip {
    margin-left: 20px;
    margin-top: 5px;
  }
  .app-form .help-tooltip ul{
   
  }
  .app-form .help-tooltip ul li.success {
    color: var(--success);
    font-weight: 600;
  }
  .app-form .help-tooltip ul li {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray);
  }
</style>
<title>Reset Password | Python Admin Panel</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="auth-header">
    <div>
      <h3>Python Admin Panel</h3>
    </div>

    <div class="app-links">
      <ul>
        <li class="link active">
          <a href="/login">Login</a>
          <div class="bar"></div>
        </li>
        <li class="link">
          <a href="/register">Register</a>
          <div class="bar"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="app-form">
    <div class="form-heading">
      <h4>Reset Password</h4>
      <p>Enter a new password of your choice.</p>
      <div class="help-tooltip">
        <ul>
          <li class="success">should have at least one capital letter.</li>
          <li>should have at least one special character.</li>
          <li>should have at least one number.</li>
          <li>should be between 8 - 16 characters.</li>
        </ul>
      </div>
    </div>
    
    <form action="" method="post" onsubmit="return false">
      <input
        readonly
        type="email"
        value="user@example.com"
        placeholder="Email Address"
        class="form-control"
      />
      <input required type="password" placeholder="New Password" class="form-control" />
     
      <input required type="password" placeholder="Retype New Password" class="form-control" />

      <button class="form-btn">
        <div class="background-animate"></div>
        <div class="btn-title">Reset Password</div>
      </button>
    </form>
  </div>
  <div></div>
</div>
{% endblock %}
