{% extends 'base.html' %} {% block head %}
<style>
  main.app {
    background-color: var(--white);
  }
  .container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container main {
    display: flex;
    height: 85vh;
    
  }
  .side-bar {
    border-radius: 18px;
    width: 15%;
    background-color: var(--primary-color);
    padding: 16px;
    max-height: 100vh;
    overflow-y: auto;
  }
  .side-bar h4 {
    color: var(--white);
    margin-bottom: 1em;
  }
  .side-bar ul {
    list-style: none;
  }
  .side-bar ul li {
    list-style: none;
    color: var(--white);
    margin-bottom: 0.8em;
    font-size: 16px;
  }
  .inner-container {
    padding: 25px 8px;
    width: 100%;
  }
  .main-content {
    border-radius: 18px;
    width: 85%;
    background-color: #e8e8e8;
    padding: 20px;
  }
  @media screen and (min-width: 576px) {
    .inner-container {
      width: 90%;
    }
  }

  @media screen and (min-width: 768px) {
    .inner-container {
      width: 85%;
    }
  }

  @media screen and (min-width: 1024px) {
    .inner-container {
      width: 70%;
    }
  }

  @media screen and (min-width: 1200px) {
  }

  @media screen and (min-width: 1500px) {
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="inner-container">
    <main>
      <!-- Sidebar -->
      <div class="side-bar">
        <h4>Admin Panel</h4>
        <ul>
          <li>side option 1</li>
          <li>side option 2</li>
          <li>side option 3</li>
          <li>side option 4</li>
          <li>side option 5</li>
          <li>side option 6</li>
          <li>side option 7</li>
          <li>side option 8</li>
          <li>side option 9</li>
          <li>
            <a href="/logout"> 
                Logout
            </a>
          </li>
        </ul>
      </div>
      <!-- content -->
      <div class="main-content">
        <div class="page-header">
            <h4>Page Title</h4>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %}
